
h1{ font-family: Arial ;}

main{ font-family: verdana ;}
 
h2,h3,h4,h5{
    color: coral;
}

header{
    background-color: gold;
}

body{
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1:hover{
    
     background-color:peru ;
     color: white;
      
}